/* font-family: "Manrope", sans-serif; */

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);

  --ff-manrope: "Manrope", sans-serif;

  --fw-medium: 500;
  --fw-bold: 700;
}

body {
  font-family: var(--ff-manrope);
}


