/* font-family: "Manrope", sans-serif; */

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --white: #fff;

  --ff-manrope: "Manrope", sans-serif;

  --fw-medium: 500;
  --fw-bold: 700;
}

body {
  font-family: var(--ff-manrope);
  padding-top: 4.625rem;
  background-color: var(--light-grayish-blue);
  color: var(--very-dark-grayish-blue);
}

.main-wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--white);
}

.product-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.inner-content {
  padding: 2.25rem 2rem 1.25rem;
}

.heading {
  margin-bottom: 0.75rem;
  font-weight: var(--fw-bold);
}

.description {
  font-size: 0.8125rem;
}

.card-footer {
  margin-top: 2rem;
}

.profile-picture {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}

.advisor-name {
  font-size: 0.8125rem;
  font-weight: var(--fw-bold);
}

.date {
  font-size: 0.8125rem;
}

.share-icon {
  height: 2rem;
  width: 2rem;
  background-color: var(--light-grayish-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
